@import "./MueblesAMedidaHeader/mueblesAMedidaHeader";
@import "./mueblesAMedidaCocina/mueblesAMedidaCocina";
@import "./mueblesAMedidaLiving/mueblesAMedidaLiving";
@import "./mueblesAMedidaBano/mueblesAMedidaBano";

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
