@import "./MueblesAMedidaHeader/mueblesAMedidaHeader";
@import "./mueblesAMedidaArticle/mueblesAMedidaArticle";
@import "./mueblesAMedidaOtros/mueblesAMedidaOtros";

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
