@media (min-width: 320px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    div {
      img {
        width: 7rem;
      }
    }
    .navbarMenu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      li {
        padding: 1rem 1.5rem 1rem 1.5rem;
        font-size: 15px;
        font-weight: 600;
        list-style-type: none;
        color: $darkGrey;
        .navbarMenuLink {
          padding: 0;
          margin: 0;
        }
        &:hover {
          color: $red;
          text-decoration: underline;
          text-decoration-thickness: 0.15rem;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  nav {
    div {
      img {
        width: 9rem;
      }
    }
  }
}
