@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

a,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: inherit;
}

.headerPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color: $red;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}

.secondaryTitle {
  color: $red;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 2rem;
}

p {
  color: $darkGrey;
  font-size: 14px;
}

@media (min-width: 1200px) {
  .title {
    font-size: 26px;
  }

  .secondaryTitle {
    font-size: 24px;
    margin-bottom: 2rem;
  }
  p {
    font-size: 16px;
  }
}
