@media (min-width: 320px) {
  .homeAcercaDeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .homeAcercaDeTexto {
      width: 18rem;
      p {
        margin-bottom: 1rem;
        text-align: justify;
        font-size: 14px;
        color: $darkGrey;
      }
      .homaAcercaDeIconos {
        margin-top: 1.5rem;
        .homeAcercaDeIconosMD {
          display: none;
        }
        .homeAcercaDeIconosSM {
          width: 18rem;
        }
      }
    }
    .homeAcercaDeImg {
      img {
        width: 15rem;
      }
    }
  }
}

@media (min-width: 500px) {
  .homeAcercaDeContainer {
    .homeAcercaDeTexto {
      width: 27rem;
      .homaAcercaDeIconos {
        .homeAcercaDeIconosMD {
          display: inline;
          width: 27rem;
        }
        .homeAcercaDeIconosSM {
          display: none;
        }
      }
    }
    .homeAcercaDeImg {
      img {
        width: 25rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .homeAcercaDeContainer {
    flex-direction: row;
    justify-content: center;
    .homeAcercaDeTexto {
      width: 20rem;
      margin: 2rem 0.75rem 0 0;
      .secondaryTitle {
        text-align: start;
      }
      .homaAcercaDeIconos {
        .homeAcercaDeIconosMD {
          width: 25rem;
        }
      }
    }
    .homeAcercaDeImg {
      z-index: -1;
      margin-left: 0.75rem;
    }
  }
}

@media (min-width: 1200px) {
  .homeAcercaDeContainer {
    .homeAcercaDeTexto {
      width: 30rem;
      margin: 0rem 0.75rem 0 0;
      p {
        margin-bottom: 2rem;
        font-size: 16px;
      }
      .homaAcercaDeIconos {
        .homeAcercaDeIconosMD {
          width: 35rem;
        }
      }
    }
    .homeAcercaDeImg {
      img {
        width: 32rem;
      }
    }
  }
}
