@import "./homeCarousel/homeCarousel";
@import "./homeAcercaDe/homeAcercaDe";
@import "./homeDudasFrecuentes/homeDudasFrecuentes";

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
