footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $darkGrey;

  .footerTexto {
    width: 15rem;
    text-align: center;
    color: white;
  }
  .footerMobel {
    padding: 1rem;
    img {
      width: 10rem;
    }
  }
  .footerRedes {
    padding: 1rem;
    a {
      color: $lightGrey;
      padding: 0.5rem;
      &:hover {
        color: $red;
      }
    }
  }
}

@media (min-width: 500px) {
  footer {
    .footerTexto {
      width: 20rem;
    }
  }
}

@media (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
