@import "./sass/colores";
@import "./sass/_generales";
@import "./sass/slickSlider";
@import "./components/layout/navbar/_navbar.scss";
@import "./components/layout/footer/_footer.scss";
@import "./components/pages/home/home";
@import "./components/common/sillaGris/sillaGris";
@import "./components/pages/mueblesALaMedida/mueblesAMedida";
